@use '../../assets/sass/main' as M;
@use '../../assets/sass/colors' as C;

.bmi-bar--wrapper {
  width: calc(M.$main_width / 2);
  height: calc(M.$space-xs * 2);
  margin: calc(M.$space-s * 2) auto 0;
  position: relative;
  .bmi-indicator {
    position: absolute;
    bottom: calc(M.$space-xs * 2);
    width: 0;
    height: 0;
    border: calc(M.$space-s / 3) solid transparent;
    border-top: calc(M.$space-s / 2) solid C.$blue;
    border-bottom: 0;
  }
}

.bmi-bar {
  width: 100%;
  height: 100%;
  border-radius: M.$space-s;
  background-color: C.$grey;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  overflow: hidden;

  &_sector {
    height: 100%;

    &.normal {
      border-left: 2px solid C.$white;
      border-right: 2px solid C.$white;
    }

    &.active {
      background-color: C.$green;
    }
  }
}