@font-face {
  font-family: 'rubik-regular';
  src:url('../fonts/Rubik-Regular.ttf') format('truetype');
  src: url('../fonts/Rubik-Regular.ttf');
  // src: url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}